﻿
@model TheCoreBanking.Data.Models.TblOperationsLevel

<div class="card ">
    <div class="card-header ">
        <h4 class="card-title text-center"> <small class="description">Operation Level</small></h4>
    </div>

    <div class="card-body">


        <div id="Operation-toolbar">
            <div class="form-group text-right">
                <button class="btn btn-danger" data-toggle="modal" data-target="#AddNewOperations" type="button" value="Add Operation">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    Add Operation Level
                </button>

            </div>
        </div>
     
        <table id="operationTable" data-toggle="table"
                data-search="true"
               data-show-export="true"
              data-minimum-count-columns="2"
               data-pagination="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-url="approvalsetup/listOperationLevel"
               data-search-align="right"
               data-toolbar="#Operation-toolbar"
               data-show-pagination-switch="true"
               data-mobile-responsive="true"
               data-show-refresh="true"               
               data-show-columns="true"
               data-detail-formatter="detailFormatter"
               data-checkon-init="true"              
               data-buttons-class="danger">
            <thead>
                <tr>
                    <th data-field="moduleID" data-visible="false"></th>
                    <th data-field="operations" data-sortable="true"><b>Operation</b></th>
                    <th data-field="approvalLevels"><b>Levels</b></th>
                    <th data-field="setupStatus"><b>Status</b></th>
                    <th data-field="" data-align="center" data-width="5%" data-events="operationEvents" data-formatter="operationFormatter"> </th>
                </tr>
            </thead>
        </table>



    </div>

</div>
<div id="AddNewOperation" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">UPDATE OPERATION LEVEL </h7>
            </div>
            <div class="modal-body">
             
                <form asp-action="UpdateOperationLevel" id="frmoperation">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#operations" aria-expanded="true" aria-controls="operations">
                                    Operation Level
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="branch" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">                                                                           
                                        <input asp-for="SetupStatus" id="SetupStatus" name="SetupStatus" class="form-control" type="hidden" />
                                        <input asp-for="OperationId"  name="OperationId" class="form-control" type="hidden" />
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Operations
                                            @*<input asp-for="Operations"  name="Operation" type="text" class="form-control" required />*@
                                            @*<select id="Operations" class="form-control" name="Operations" asp-for="Operations">
                                                <option></option>
                                            </select>*@
                                            @Html.DropDownListFor(model => model.Operations, new SelectList(ViewBag.operation),
                            "Select Operation level", new { id = "ddlOperation", @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            Level
                                            <input asp-for="ApprovalLevels" name="ApprovalLevels" type="text"  class="form-control text-right" required />
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group text-right">
                                        <button class="btn btn-danger" id="btnOperationUpdate" type="submit" value="Update Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Update Record
                                        </button>

                                        <button class="btn btn-danger" id="btnOperation" type="submit" value="Save Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Save Record
                                        </button>

                                        <button class="btn btn-danger" type="reset">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                            Clear
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        
        </div>

    </div>
</div>
<div id="UpdateModuleLevel" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">UPDATE MODULE OPERATION </h7>
            </div>
            <div class="modal-body">
                <table id="moduleTable" data-toggle="table"
                       data-search="true"
                       data-show-export="true"
                       data-minimum-count-columns="2"
                       data-pagination="true"
                       data-page-list="[10, 25, 50, 100, ALL]"
                       data-url="approvalsetup/listModule"
                       data-search-align="right"
                       data-toolbar="#Operation-toolbar"
                       data-show-pagination-switch="true"
                       data-mobile-responsive="true"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-detail-formatter="detailFormatter"
                       data-checkon-init="true"
                       data-buttons-class="danger">
                    <thead>
                        <tr>
                            <th data-field="moduleId" data-visible="false"></th>
                            <th data-field="moduleOperation" data-sortable="true"><b>Operation</b></th>                            
                            <th data-field="" data-align="center" data-width="5%" data-events="moduleEvents" data-formatter="moduleFormatter"> </th>
                        </tr>
                    </thead>
                </table>
                <form asp-action="UpdateModuleOperation" id="frmmodule">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#module" aria-expanded="true" aria-controls="module">
                                    Module Operation
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="branch" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input id="ModuleIds" name="ModuleIds" class="form-control" type="hidden" />
                                        <input id="OperationIds" name="OperationIds" class="form-control" type="hidden" />
                                    </div>

                                    <div class="row">
                                        @*<div class="form-group col-md-6">
                                            Operations
                                            @Html.DropDownListFor(model => model.Operations, new SelectList(ViewBag.operation),
                            "Select Operation level", new { id = "ddlOperation", @class = "form-control" })
                                        </div>*@
                                        <div class="form-group col-md-12">
                                            Module Operation
                                            <input id="ModuleOperations" name="ModuleOperation" class="form-control" required />
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group text-right">
                                        <button class="btn btn-danger" id="btnModuleUpdate" type="submit" value="Update Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Update Record
                                        </button>

                                        <button class="btn btn-danger" type="reset">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                            Clear
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>


<div id="AddNewOperations" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">ADD NEW MODULE OPERATION </h7>
            </div>
            <div class="modal-body">
                <form asp-action="AddOperationLevel" id="frmoperations">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div id="accordionS" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordionS" href="#operationsave" class="collapse" aria-expanded="true" aria-controls="operationsave">
                                   Module Operation 
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="branch" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input id="ModulIds" name="ModuleIds" class="form-control" type="hidden" />
                                        <input id="OperatioIds" name="OperationIds" class="form-control" type="hidden" />
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            Operation
                                            <select id="Operation" name="Operation" class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Module Operation
                                            <input id="ModulOperations" name="ModuleOperation" placeholder="Enter the module for operation" class="form-control" required />
                                            
                                        </div>
                                        <div class="form-group col-md-6">
                                            Level
                                            <input id="ApprovalLevel" name="ApprovalLevels" placeholder="1" class="form-control text-right" required />
                                           
                                        </div>
                                    </div>
                                    </div>

                                    <hr />

                                    <div class="form-group text-right">

                                        <button class="btn btn-danger" id="btnOperations" type="submit" value="Save Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Save Record
                                        </button>

                                        <button class="btn btn-danger" type="reset">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                            Clear
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                
                </form>
            </div>

        </div>

    </div>
</div>
    

