﻿@model TheCoreBanking.Data.Models.UsertoBranch
<div class="card  card-subcategories">

    <div class="card-header ">
        <h4 class="card-title text-center"> Officer Setup</h4>
        <br />
    </div>

    <div class="card-body ">

        <ul class="nav nav-pills nav-pills-danger nav-pills-icons justify-content-center" Branch="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#assign" Branch="tablist">
                    <i class="now-ui-icons objects_umbrella-13"></i>
                    Approval Mapping
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#create" Branch="tablist">
                    <i class="fa fa-address-card"></i>
                    Add Approving Officer
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#list" Branch="tablist">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                    List Of User Mapped
                </a>
            </li>
        </ul>
        <div class="tab-content tab-space tab-subcategories">
            <div class="tab-pane" id="create">               
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Select the designation
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#Designation">Designation</a>
                                        @*<a class="dropdown-item" data-toggle="modal" data-target="#Rank">Rank</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>              

                <table id="approvedStaffTable" data-toggle="table"
                       class="data-table"
                       data-search="true"
                       data-page-list="[5,10,25,50,100,150,200,250,300]"
                       data-page-size="25"
                       
                       data-pagination="true"
                       data-mobile-responsive="true"
                       data-search-align="right"
                       data-toolbar="#Branch-toolbar"
                       data-show-pagination-switch="true"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-buttons-class="danger">
                
                </table>
            </div>
            <div class="tab-pane active" id="assign">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-danger col-md-12" id="btnMapBranch" type="button" value="Map Branch">
                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                            Map Approval
                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <table id="userAssignTable" data-toggle="table"
                               data-url="CompanySetup/listProfile"
                               data-page-list="[5,10,25,50,100,150,200,250,300]"
                               data-page-size="25"
                               data-check-on-init="true"
                               data-pagination="true"
                               data-search="true"
                               data-classes="table table-no-bordered"
                               data-mobile-responsive="true"
                               data-show-refresh="true"
                               data-buttons-class="danger">
                            <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true"></th>
                                    @*<th data-field="id" data-sortable="true">Code</th>*@
                                    <th data-field="userName" data-sortable="true"><b>List of Users</b></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table id="BranchAssignTable" data-toggle="table"
                               data-url="CompanySetup/listbranch"
                               data-page-list="[5,10,25,50,100,150,200,250,300]"
                               data-page-size="25"
                               data-check-on-init="true"
                               data-pagination="true"
                               data-search="true"
                               data-classes="table table-no-bordered"
                               data-mobile-responsive="true"
                               data-show-refresh="true" data-click-to-select="true" data-single-select="true"
                               data-buttons-class="danger">
                            <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true"></th>
                                    @*<th data-field="id" data-sortable="true">Code</th>*@
                                    <th data-field="brName" data-sortable="true"><b>List of Branches</b></th>
                                </tr>
                            </thead>
                        </table>
                    </div>



                    <div class="col-md-12">

                        <button class="btn btn-danger col-md-12" id="btnMapBranch" type="button" value="Map Branch">
                            <i class="now-ui-icons arrows-1_minimal-right"></i>

                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                        </button>
                    </div>

                </div>

            </div>
            <div class="tab-pane" id="list">
                <div class="tab-pane" id="list">
                    <table id="roleTable" data-toggle="table"
                           data-url="ApprovalSetup/ListUserBranch"
                           data-search="true"
                           data-page-list="[5,10,25,50,100,150,200,250,300]"
                           data-page-size="25"
                           data-check-on-init="true"
                           data-pagination="true"
                           data-search-align="right"
                           data-toolbar="#role-toolbar"
                           data-show-pagination-switch="true"
                           data-mobile-responsive="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-buttons-class="danger">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="userName" data-sortable="true">User</th>
                                <th data-field="brName">Branch</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="modal fade" id="Designation" tabindex="-1" role="dialog" aria-labelledby="designationLabel" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="designationLabel">Add Approving Officer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p class="text-center">
               
                <button class="btn btn-secondary" id="btnothers" type="button" data-toggle="collapse" data-target="#collapseOther" aria-expanded="false" aria-controls="collapseOther">
                    Others
                </button>
                <button class="btn btn-primary" id="btnmanagement" type="button" data-toggle="collapse" data-target="#collapseManagement" aria-expanded="false" aria-controls="collapseManagement">
                    Management
                </button>
                <button class="btn btn-info" id="btnboard" type="button" data-toggle="collapse" data-target="#collapseBoard" aria-expanded="false" aria-controls="collapseBoard">
                    Board
                </button>
            </p>


            <div class="modal-body collapse" id="collapseOther">
                <div class="text-center text-danger ">@ViewBag.Reply<b>Others</b></div>
                <div class="card card-body">
                    <form asp-route="AddApprovalCommittee" id="frmApproval">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input id="Id" type="text" hidden />
                                    Operation:
                                    <select id="ddlOperationss" name="ddlOperation" class="form-control">
                                        <option>Select Operation</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    Designation:
                                    <select id="ddlDesignations" name="ddldesignation" class="form-control">
                                        <option>Select Designation</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <table id="officerTable" data-toggle="table" class="data-table"
                               data-page-list="[5,10,25,50,100,150,200,250,300]"
                               data-page-size="25"
                               data-check-on-init="true"
                               data-pagination="true"
                               data-search-align="right"
                               data-mobile-responsive="true"
                               data-show-columns="true"
                               data-buttons-class="danger"></table>
                        <div class="row">
                            <div class="form-group col-md-6">
                                Minimum Amount
                                <input class="form-control text-right" id="MinAmt" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                Maximum Amount
                                <input class="form-control text-right" id="MaxAmt" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                Cumulative Limit
                                <input class="form-control text-right" id="CummulativeAmt" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                Approving Level
                                <input class="form-control text-right" id="ApprovingLevel" placeholder="0" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                Number of persons required
                                <input class="form-control" id="ddllevels" disabled>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button class="btn btn-danger" id="btnApprovalCommittee" name="submit" value="register">
                                <i class="fa fa-user-circle"></i>
                                Save changes
                            </button>
                            @*<button type="button" id="btnApprovalCommittee" class="btn btn-primary">Save changes</button>*@
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-body collapse" id="collapseManagement">
                <div class="text-center text-danger "><b>Management</b></div>
                <div class="card card-body">
                    <form asp-route="AddApprovalCommitteeMgt" id="frmApprovalMgt">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input id="Id" type="text" hidden />
                                    Operation:
                                    <select id="ddlOperationmgt" name="ddlOperationmgt" class="form-control">
                                        <option>Select Operation</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    Designation:
                                    <select id="ddlDesignationmgt" name="ddldesignationmgt" class="form-control">
                                        <option>Select Designation</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <table id="officerTablemgt" data-toggle="table" class="data-table"
                               data-page-list="[5,10,25,50,100,150,200,250,300]"
                               data-page-size="25"
                               data-check-on-init="true"
                               data-pagination="true"
                               data-search-align="right"
                               data-mobile-responsive="true"
                               data-show-columns="true"
                               data-buttons-class="danger"></table>
                        <div class="row">
                            <div class="form-group col-md-6">
                                Minimum Amount
                                <input class="form-control text-right" id="MinAmtmgt" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                Maximum Amount
                                <input class="form-control text-right" id="MaxAmtmgt" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                Cumulative Limit
                                <input class="form-control text-right" id="CummulativeAmtmgt" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                Approving Level
                                <input class="form-control text-right" id="ApprovingLevelmgt" placeholder="0" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                Number of persons required
                                <input class="form-control" id="ddllevelsmgt" disabled>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button class="btn btn-danger" id="btnApprovalCommitteemgt" name="submit" value="register">
                                <i class="fa fa-user-circle"></i>
                                Save changes
                            </button>
                            @*<button type="button" id="btnApprovalCommittee" class="btn btn-primary">Save changes</button>*@
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-body collapse" id="collapseBoard">
                <div class="text-center text-danger "><b>Board</b></div>
                <div class="card card-body">
                    <form asp-route="AddApprovalCommitteeBoard" id="frmApprovalBoard">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input id="Id" type="text" hidden />
                                    Operation:
                                    <select id="ddlOperationBoard" name="ddlOperationBoard" class="form-control">
                                        <option>Select Operation</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    Designation:
                                    <select id="ddlDesignationBoard" name="ddldesignationBoard" class="form-control">
                                        <option>Select Designation</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <table id="officerTableBoard" data-toggle="table" class="data-table"
                               data-page-list="[5,10,25,50,100,150,200,250,300]"
                               data-page-size="25"
                               data-check-on-init="true"
                               data-pagination="true"
                               data-search-align="right"
                               data-mobile-responsive="true"
                               data-show-columns="true"
                               data-buttons-class="danger"></table>
                        <div class="row">
                            <div class="form-group col-md-6">
                                Minimum Amount
                                <input class="form-control text-right" id="MinAmtBoard" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                Maximum Amount
                                <input class="form-control text-right" id="MaxAmtBoard" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                Cumulative Limit
                                <input class="form-control text-right" id="CummulativeAmtBoard" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                Approving Level
                                <input class="form-control text-right" id="ApprovingLevelBoard" placeholder="0" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                Number of persons required
                                <input class="form-control" id="ddllevelsBoard" disabled>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button class="btn btn-danger" id="btnApprovalCommitteeBoard" name="submit" value="register">
                                <i class="fa fa-user-circle"></i>
                                Save changes
                            </button>
                            @*<button type="button" id="btnApprovalCommittee" class="btn btn-primary">Save changes</button>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Rank" tabindex="-1" role="dialog" aria-labelledby="rankLabel" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rankLabel">Add Approving Officer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p class="text-center">
                <a class="btn btn-secondary" data-toggle="collapse" href="#collapseROther" role="button" aria-expanded="false" aria-controls="collapseROther">
                    Others
                </a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseRManagement" aria-expanded="false" aria-controls="collapseRManagement">
                    Management
                </button>
                <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseRBoard" aria-expanded="false" aria-controls="collapseRBoard">
                    Board
                </button>
            </p>


            <div class="modal-body collapse" id="collapseROther">
                <div class="card card-body">
                    <form asp-route="AddApprovalCommittee" id="frmRApproval">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input id="Id" type="text" hidden />
                                    Operation:
                                    <select id="ddlOperationss" name="ddlOperation" class="form-control">
                                        <option>Select Operation</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    Rank:
                                    <select id="ddlRank" name="ddlRank" class="form-control">
                                        <option>Select Designation</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <table id="officerTable" data-toggle="table" class="data-table"
                               data-page-list="[5,10,25,50,100,150,200,250,300]"
                               data-page-size="25"
                               data-check-on-init="true"
                               data-pagination="true"
                               data-search-align="right"
                               data-mobile-responsive="true"
                               data-show-columns="true"
                               data-buttons-class="danger"></table>
                        <div class="row">
                            <div class="form-group col-md-6">
                                Minimum Amount
                                <input class="form-control text-right" id="MinAmt" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                Maximum Amount
                                <input class="form-control text-right" id="MaxAmt" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                Cumulative Limit
                                <input class="form-control text-right" id="CummulativeAmt" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                            </div>
                            <div class="form-group col-md-6">
                                Approving Level
                                <input class="form-control text-right" id="ApprovingLevel" placeholder="0" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                Number of persons required
                                <input class="form-control" id="ddllevels" disabled>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button class="btn btn-danger" id="btnApprovalCommittee" name="submit" value="register">
                                <i class="fa fa-user-circle"></i>
                                Save changes
                            </button>
                            @*<button type="button" id="btnApprovalCommittee" class="btn btn-primary">Save changes</button>*@
                        </div>
                    </form>
                </div>
            </div>



        </div>
    </div>
</div>

<div class="modal fade" id="Designations" tabindex="-1" role="dialog" aria-labelledby="designationsLabel" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="designationsLabel">Update Approving Officer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-route="UpdateApprovalCommittee" id="frmApprovals">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input id="Id"  type="text" hidden />
                        <input id="OperationId"  type="text" hidden />
                        @*<div class="row">
            <div class="col-md-6">
                <input id="Id" type="text" hidden />
                Operation:
                <select id="ddlOperations" name="ddlOperation" class="form-control " >
                    <option>Select Operation</option>
                </select>
            </div>
            <div class="col-md-6">
                Designation:
                <select id="ddlDesignation" name="ddldesignation" class="form-control ">
                    <option>Select Designation</option>
                </select>
            </div>
        </div>*@
                    </div>
                    @*<table id="officerTable" data-toggle="table" class="data-table"
                           data-page-list="[5,10,25,50,100,150,200,250,300]"
                           data-page-size="25"
                           data-check-on-init="true"
                           data-pagination="true"
                           data-search-align="right"
                           data-mobile-responsive="true"
                           data-show-columns="true"
                           data-buttons-class="danger"></table>*@
                    <div class="row">
                       
                        <div class="form-group col-md-6">
                            Minimum Amount
                            <input class="form-control text-right" id="MinAmts" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                        </div>
                        <div class="form-group col-md-6">
                            Maximum Amount
                            <input class="form-control text-right" id="MaxAmts" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            Cumulative Limit
                            <input class="form-control text-right" id="CummulativeAmts" autocomplete="formatnumber(value)" placeholder="0.00" autofocus>
                        </div>
                        <div class="form-group col-md-6">
                            Approving Level
                            <input class="form-control text-right" id="ApprovingLevels" placeholder="0" autofocus>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button class="btn btn-danger" id="btnApprovalCommitteeUpdate" name="submit" value="register">
                            <i class="fa fa-user-circle"></i>
                            Update changes
                        </button>

                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
