﻿@model TheCoreBanking.Data.Models.TblBankingCommittee

<div class="card ">
    <div class="card-header ">
        <h4 class="card-title text-center"> <small class="description">Credit Committee Approval Setup</small></h4>
    </div>

    <div class="card-body">
        <div id="custom-toolbar">
            <div class="form-group text-right">
                <button class="btn btn-danger"  data-toggle="modal" data-target="#AddNewCommittee" type="button" value="Add Company">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    Add Credit Committee
                </button>
            </div>
        </div>
        <table id="committeeTable" data-toggle="table"
               data-url="approvalsetup/listcommittee"
               data-search="true"
               data-show-export="true"
               data-minimum-count-columns="2"
               data-pagination="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-toolbar="#custom-toolbar"
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-detail-formatter="detailFormatter"
               data-detail-view="true"
               data-buttons-class="danger">
            <thead>
                <tr>
                    <th data-field="creditMinMgt"><b>Min. Management</b></th>                    
                    <th data-field="mgtNoApproval"><b>Approval No</b></th>
                    <th data-field="mgtNo"><b>Management No</b></th>

                    <th data-field="" data-events="committeeEvents" data-formatter="committeeFormatter">  </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="AddNewCommittee" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title"> NEW COMMITTEE APPROVAL SETUP </h7>
            </div>
            <div class="modal-body">
                <form asp-action="AddCommittee" id="frmcommittee">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                      
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a data-toggle="collapse" data-parent="#accordion" href="#committeeinfo" aria-expanded="true" aria-controls="managementinformation">
                                   Management Committee
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="committeeinfo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Number of Persons:
                                            <input id="MgtNo" required class="form-control" />
                                            <input asp-for="Id" required class="form-control" hidden />
                                        </div>
                                        <div class="form-group col-md-6">
                                            Number of Person for Final Approval Decision:
                                            <input id="MgtNoApproval" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-6">
                                            Minimum Amount
                                            <input id="CreditMinMgt" required class="form-control text-right" />
                                        </div>
                                        <div class="form-group  col-md-6">
                                            Maximum Amount
                                            <input id="creditMaximumMgt" asp-for="CreditMaxComteeAmt" required class="form-control text-right" />
                                        </div>
                                        @*<div class="form-group  col-md-6">
                                                Operation
                                                <select id="ddlOperationM" required class="form-control">
                                                    <option>Select Operation</option>
                                                </select>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingThree">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#optionalinformation" aria-expanded="false" aria-controls="optionalinformation">
                                    Board Committee
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="optionalinformation" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Number of Persons:
                                            <input id="BoardNo" required class="form-control" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            Number of Persons for Approval Decision:
                                            <input id="BoardNoApproval" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-6">
                                            Minimum Amount
                                            <input id="CreditMinBoard" required class="form-control text-right" />
                                        </div>
                                        <div class="form-group  col-md-6">
                                            Maximum Amount
                                            <input id="creditMaximumMgtBcc" asp-for="CreditMaxBoardAmt" required class="form-control text-right" />
                                        </div>
                                        @*<div class="form-group  col-md-6">
                                            Operation
                                            <select id="ddlOperationB" class="form-control">
                                                <option>Select Operation</option>
                                            </select>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="form-group text-right">
                        @*<button class="btn btn-danger" id="btnCommitteeUpdate" type="submit" value="Update Record">
                            <i class="now-ui-icons ui-1_check"></i>
                            Update Record
                        </button>*@

                        <button class="btn btn-danger" id="btnCommittee" type="submit" value="Save Record">
                            <i class="now-ui-icons ui-1_check"></i>
                            Save Record
                        </button>
                        <button class="btn btn-danger" type="reset">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                            Clear
                        </button>
                    </div>


                </form>

            </div>

        </div>

    </div>
</div>

<div id="UpdateNewCommittee" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title"> UPDATE COMMITTEE APPROVAL SETUP </h7>
            </div>
            <div class="modal-body">
                <form asp-action="UpdateCommittee" id="frmcommitteeupdate">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a data-toggle="collapse" data-parent="#accordion" href="#committeesinfo" aria-expanded="true" aria-controls="managementinformation">
                                    Management Committee
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="committeesinfo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Number of Persons:
                                            <input id="mgtNo" asp-for="MgtNo"  class="form-control" />
                                            <input id="createDate" asp-for="CreateDate"  class="form-control" hidden />
                                            <input id="id" asp-for="Id"  class="form-control" hidden />
                                            <input id="createdby" asp-for="Createdby"  class="form-control" hidden />
                                            <input id="committee" asp-for="Committee"  class="form-control" hidden />
                                        </div>
                                        <div class="form-group col-md-6">
                                            Number of Persons for Approval Decision:
                                            <input id="mgtNoApproval"  asp-for="MgtNoApproval"  class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-6">
                                            Minimum Amount
                                            <input id="creditMinMgt" asp-for="CreditMinMgt" class="form-control text-right" />
                                        </div>
                                        <div class="form-group  col-md-6">
                                            Maximum Amount
                                            <input id="creditMaximumMgt" asp-for="CreditMaxComteeAmt" required class="form-control text-right" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingThree">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#boardinfo" aria-expanded="false" aria-controls="optionalinformation">
                                    Board Committee
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="boardinfo" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Number of Persons:
                                            <input id="boardNo" asp-for="BoardNo"  class="form-control" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            Number of Persons for Approval Decision:
                                            <input id="boardNoApproval" asp-for="BoardNoApproval"  class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-6">
                                            Minimum Amount
                                            <input id="creditMinBoard" asp-for="CreditMinBoard" class="form-control text-right" />
                                        </div>
                                        <div class="form-group  col-md-6">
                                            Maximum Amount
                                            <input id="creditMaximumMgtBcc" asp-for="CreditMaxBoardAmt" required class="form-control text-right" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="form-group text-right">
                        <button class="btn btn-danger" id="btnCommitteeUpdates" type="submit" value="Update Record">
                            <i class="now-ui-icons ui-1_check"></i>
                            Update Record
                        </button>

                        @*<button class="btn btn-danger" id="btnCommittee" type="submit" value="Save Record">
                            <i class="now-ui-icons ui-1_check"></i>
                            Save Record
                        </button>*@
                        <button class="btn btn-danger" type="reset">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                            Clear
                        </button>
                    </div>


                </form>

            </div>

        </div>

    </div>
</div>
