﻿
@{
    ViewData["Title"] = "General Setup";
}
@section title{
    @ViewData["Title"]
}

@section pagedescription{
    <h5> The company setup is happening here. </h5>

}

<div class="card ">

    <div class="card-header text-center">
        <h4 class="card-title">APPROVAL SETUP </h4>
    </div>

    <div class="card-body ">

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <!--
                    color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                -->
                <ul class="nav nav-pills nav-pills-danger nav-pills-icons flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#operation" role="tablist">
                            <i class="now-ui-icons business_bank"></i>
                            Operations and Level Setup
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#committee" role="tablist">
                            <i class="now-ui-icons business_briefcase-24"></i>
                            Credit Committee Approval Setup
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#approving" role="tablist">
                            <i class="now-ui-icons business_money-coins"></i>
                            Approving Officer Setup
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="tab-content">

                    <div class="tab-pane active" id="operation">
                        @Html.Partial("_AddOperationLevel")
                    </div>
                    <div class="tab-pane" id="committee">
                        @Html.Partial("_AddCommitteeApproval")
                    </div>

                    <div class="tab-pane" id="approving">
                        @Html.Partial("_AddApprovingOfficer")
                    </div>

                </div>
            </div>
        </div>



    </div>



</div>

@section Scripts {
    <script src="~/js/operationlevel.js"></script>
    <script src="~/js/committee.js"></script>

        <script src="~/js/approvalmanager.js"></script>
 
}




