﻿<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <h2 class="title">The Core Banking 2.0</h2>
                <h5 class="description"> Limitless Banking Experience.</h5>
            </div>
        </div>
       
        <div class="row ">
            <div class="col-lg-3 col-md-6">
                <div class="card card-pricing">

                    <h6 class="card-category">Company</h6>


                    <div class="card-body">

                        <div class="card-icon">
                            <i class="now-ui-icons business_bank"></i>
                        </div>
                        <ul>
                            <li>Setup banking entities</li>
                            <li>Administrative operations</li>
                        </ul>
                    </div>

                    <div class="card-footer">
                        <a href="companysetup" class="btn btn-default btn-twitter">Setup bank</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">

                <div class="card card-pricing ">

                    <h6 class="card-category">Customers</h6>
                    <div class="card-body">
                        <div class="card-icon icon-primary ">
                            <i class="now-ui-icons users_circle-08"></i>
                        </div>

                        <ul>
                            <li>Profile Customers</li>
                            <li>Maintain Profiled Customers</li>
                        </ul>

                    </div>

                    <div class="card-footer">
                        <a href="customer" class="btn btn-default btn-primary">Manage Customers</a>
                    </div>

                </div>

            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card card-pricing">

                    <h6 class="card-category">Finance</h6>
                    <div class="card-body">
                        <div class="card-icon icon-success ">
                            <i class="now-ui-icons media-2_sound-wave"></i>
                        </div>

                        <ul>
                            <li>Bank account configuration</li>
                            <li>Ledger maintainance</li>
                        </ul>

                    </div>

                    <div class="card-footer">
                        <a href="Finance" class="btn btn-default btn-success">Setup Ledger</a>
                    </div>

                </div>


            </div>
            <div class="col-lg-3 col-md-6">

                <div class="card card-pricing">
                    <h6 class="card-category"> Credit</h6>
                    <div class="card-body">

                        <div class="card-icon icon-danger ">
                            <i class="now-ui-icons education_atom"></i>
                        </div>

                        <ul>
                            <li>Complete documentation</li>
                            <li>Credit processing</li>
                        </ul>

                    </div>

                    <div class="card-footer">
                        <a href="credit" class="btn btn-default btn-danger">Process Credit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">

                <div class="card card-pricing">
                    <h6 class="card-category"> Retail </h6>
                    <div class="card-body">

                        <div class="card-icon icon-danger ">
                            <i class="now-ui-icons business_money-coins"></i>
                        </div>

                        <ul>
                            <li>Retail banking</li>
                            <li>Other related operations</li>
                        </ul>

                    </div>

                    <div class="card-footer">
                        <a href="#operation" class="btn btn-default btn-facebook">Start Operation</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">

                <div class="card card-pricing">
                    <h6 class="card-category"> Investment </h6>
                    <div class="card-body">

                        <div class="card-icon icon-danger ">
                            <i class="now-ui-icons business_briefcase-24"></i>
                        </div>

                        <ul>
                            <li>Treasury operations</li>
                            <li>Other investments</li>
                        </ul>

                    </div>

                    <div class="card-footer">
                        <a href="#investment" class="btn btn-default btn-github">Start Investment</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">

                <div class="card card-pricing">
                    <h6 class="card-category"> Approval </h6>
                    <div class="card-body">

                        <div class="card-icon icon-white ">
                            <i class="now-ui-icons ui-1_check"></i>
                        </div>

                        <ul>
                            <li>Approving transactions</li>
                            <li>Approval processing</li>
                        </ul>

                    </div>

                    <div class="card-footer">
                        <a href="#pablo" class="btn btn-default" >Approve Operations</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">

                <div class="card card-pricing">
                    <h6 class="card-category"> Reports </h6>
                    <div class="card-body">

                        <div class="card-icon icon-danger ">
                            <i class="now-ui-icons files_single-copy-04"></i>
                        </div>

                        <ul>
                            <li>Generate reports</li>
                            <li>View reports</li>
                        </ul>

                    </div>

                    <div class="card-footer">
                        <a href="#pablo" class="btn btn-default btn-google">Check Report</a>
                    </div>
                </div>
            </div>
        </div>
          
    </div>
</div>

@section scripts{
    <script src="~/js/background.js"></script>
}