﻿@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}







<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> TheCoreBanking : @ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/css/Montserrat.css" rel="stylesheet" />
        <link href="~/css/all.css" rel="stylesheet" />
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/now-ui-dashboard.minf700.css" rel="stylesheet" />
        <link href="~/css/pace/red/pace-theme-flash.css" rel="stylesheet" />
        <link href="~/demo/demo.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link href="~/css/Montserrat.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/all.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/now-ui-dashboard.minf700.css" rel="stylesheet" asp-append-version="true" />

        <link href="~/css/pace/red/pace-theme-flash.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/demo/demo.css" rel="stylesheet" asp-append-version="true" />
    </environment>


</head>
<body>

   
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="#pablo">Login Page</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">


                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="../dashboard.html" class="nav-link">
                                <i class="now-ui-icons design_app"></i>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="register.html" class="nav-link">
                                <i class="now-ui-icons tech_mobile"></i>
                                Register
                            </a>
                        </li>
                        <li class="nav-item  active ">
                            <a href="login.html" class="nav-link">
                                <i class="now-ui-icons users_circle-08"></i>
                                Login
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="pricing.html" class="nav-link">
                                <i class="now-ui-icons now-ui-icons business_money-coins"></i>
                                Pricing
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="lock.html" class="nav-link">
                                <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                Lock
                            </a>
                        </li>
                    </ul>



                </div>
            </div>
        </nav>
        <!-- End Navbar -->

    <div class="wrapper wrapper-full-page ">








        @*<img src="~/img/bg14.jpg" />*@
        <div class="full-page login-page section-image" filter-color="black" data-image="~/img/bg14.jpg">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    @RenderBody()
                  
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.fintraksoftware.com/">
                                    Fintrak Software Co. Limited
                                </a>
                            </li>
                            <li>
                                <a href="http://presentation.fintraksoftware.com/">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.fintraksoftware.com/">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy;
                        @DateTime.Now.Year  TheCoreBanking &nbsp; <a href="https://www.fintraksoftware.com/" target="_blank">Fintrak Software Co. Limited</a>.
                    </div>
                </div>
            </footer>
        </div>

    </div>

    



    <environment include="Development">
        <script src="~/js/core/jquery.min.js"></script>
        <script src="~/js/core/popper.min.js"></script>
        <script src="~/js/core/bootstrap.min.js"></script>
        <script src="~/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <script src="~/js/plugins/moment.min.js"></script>
        <script src="~/js/plugins/bootstrap-switch.js"></script>
        <script src="~/js/plugins/sweetalert2.min.js"></script>
        <script src="~/js/plugins/jquery.validate.min.js"></script>
        <script src="~/js/plugins/jquery.bootstrap-wizard.js"></script>
        <script src="~/js/plugins/bootstrap-selectpicker.js"></script>
        <script src="~/js/plugins/bootstrap-datetimepicker.js"></script>
        <script src="~/js/plugins/jquery.dataTables.min.js"></script>
        <script src="~/js/plugins/bootstrap-tagsinput.js"></script>
        <script src="~/js/plugins/jasny-bootstrap.min.js"></script>
        <script src="~/js/plugins/fullcalendar.min.js"></script>
        <script src="~/js/plugins/jquery-jvectormap.js"></script>
        <script src="~/js/plugins/nouislider.min.js"></script>
        @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>*@
        <script async defer src="~/js/plugins/buttons.js"></script>
        @*<script src="~/js/plugins/chartjs.min.js"></script>*@
        <script src="~/js/plugins/bootstrap-notify.js"></script>
        <script src="~/js/now-ui-dashboard.minf700.js?v=1.0.1"></script>
        <script src="~/js/pace.js"></script>
        <script src="~/demo/demo.js"></script>


        @*<script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>*@
        <script src="~/js/core/jquery.min.js"></script>
        <script src="~/js/core/popper.min.js"></script>
        <script src="~/js/core/bootstrap.min.js"></script>
        <script src="~/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <script src="~/js/plugins/moment.min.js"></script>
        <script src="~/js/plugins/bootstrap-switch.js"></script>
        <script src="~/js/plugins/sweetalert2.min.js"></script>
        <script src="~/js/plugins/jquery.validate.min.js"></script>
        <script src="~/js/plugins/jquery.bootstrap-wizard.js"></script>
        <script src="~/js/plugins/bootstrap-selectpicker.js"></script>
        <script src="~/js/plugins/bootstrap-datetimepicker.js"></script>
        <script src="~/js/plugins/jquery.dataTables.min.js"></script>
        <script src="~/js/plugins/bootstrap-tagsinput.js"></script>
        <script src="~/js/plugins/jasny-bootstrap.min.js"></script>
        <script src="~/js/plugins/fullcalendar.min.js"></script>
        <script src="~/js/plugins/jquery-jvectormap.js"></script>
        <script src="~/js/plugins/nouislider.min.js"></script>
        @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>*@
        <script async defer src="~/js/plugins/buttons.min.js"></script>
        @*<script src="~/js/plugins/chartjs.min.js"></script>*@
        <script src="~/js/plugins/bootstrap-notify.js"></script>
        <script src="~/js/now-ui-dashboard.minf700.js?v=1.0.1"></script>
        <script src="~/js/pace.min.js"></script>
        <script src="~/demo/demo.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    
</body>
</html>




@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IdentityServer4</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/">
                    <span class="navbar-brand">
                        <img src="~/icon.png" class="icon-banner">
                        IdentityServer4
                    </span>
                </a>
            </div>

            @if (!string.IsNullOrWhiteSpace(name))
            {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            }
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>*@
