﻿@model TheCoreBanking.Data.Models.TblOperationApprovalCommittee




@section pagedescription{
    <span class="title f24px">GENERAL SET UP M0DULE</span>
}


<div class="card">

    <div class="card-body">
        <div class="card-header ">
            <h4 class="card-title text-center"> <small class="description">APPROVING AUTHORITY SET UP</small></h4>
        </div>


        <div id="other-toolbar">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#btnCreateother" id="btncreateotheeop" name="btncreateotheeop"><i class="fas fa-plus"></i>Add Officer</button>
        </div>

        <table id="Other-Table" data-toggle="table" class="data-table"
               data-url="@Url.Action("LoadOppApproval","ApprovingAuthority")"
               data-search="true"
               data-search-align="right"
               data-show-export="true"
               data-toolbar="#other-toolbar"
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-click-to-select="true"
               data-single-select="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-detail-formatter="detailFormatter"
               data-unique-id="Id"
               data-detail-view="true"
               data-check-on-init="true"
               data-pagination="true"
               data-buttons-class="danger">
            <thead>
                <tr>
                    <th data-field="operations" data-align="center">Operation</th>
                    <th data-field="approvingAuthority" data-align="center">Officer</th>
                    <th data-field="staffId" data-align="center" data-visible="true">Staff No</th>
                    <th data-field="designation" data-align="center" data-visible="true">Designation</th>
                    <th data-field="approvalLevels" data-align="center" data-visible="false">Approval Levels</th>
                    <th data-field="minAmt" data-align="center">Min.Amount</th>
                    <th data-field="maxAmt" data-align="center" data-visible="true">Max.Amount</th>
                    <th data-field="cummulativeAmt" data-align="center" data-visible="true">Cul.Amount</th>
                    <th data-field="approvingLevel" data-align="center" data-visible="true">Approving Level</th>
                </tr>
            </thead>
        </table>


    </div>
</div>





<div id="btnCreateother" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="btncloseother" name="btncloseother">&times;</button>
                <h7 class="modal-title">Add Officer</h7>

            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col card card-plain">

                            <form id="others-form">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        Operation:
                                        <select class="form-control text-right" name="operations" required id="operations">
                                            <option>Select Operation</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        Designation:
                                        <select class="form-control text-right" name="designation" required id="designation">
                                            <option>Select Designation</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        Approving Authority
                                        <select class="form-control text-right" name="authority" required id="authority">
                                            <option>Select Staff</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        Cummulative limit
                                        <input id="culLimit" name="culLimit" type="text" class="form-control text-right" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        Minimum Amount
                                        <input id="minamount" name="minamount" type="number" class="form-control text-right" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        Maximum Amount
                                        <input id="maxamount" name="maxamount" type="number" class="form-control text-right" />
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="form-group col-md-6">
                                        Approving Level:
                                        <select class="form-control text-right" name="applevel" required id="applevel">
                                            <option>Select Approving level</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group text-right">
                                    <button class="btn btn-info" id="btnothers" type="submit" value="Save Record">
                                        <i class="now-ui-icons ui-1_check"></i>
                                        Save Record
                                    </button>
                                    <button class="btn btn-danger" type="button" id="btnclearother" onclick="clearO()">
                                        <i class="fa fa-recycle"></i>
                                        Clear
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    <environment include="Development">
        <script src="~/js/approvalmanager.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/approvalmanager.min.js"></script>
    </environment>
}


