﻿@model TheCoreBanking.Data.Models.TblBranchInformation

<div class="card ">
    <div class="card-header ">
        <h4 class="card-title text-center"> <small class="description">Branch</small></h4>
    </div>

    <div class="card-body">


        <div id="branch-toolbar">
            <div class="form-group text-right">
                <button class="btn btn-info" id="btnBranchs" data-toggle="modal" data-target="#AddNewBranch" type="button" value="Add Branch">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    Add Branch
                </button>
            </div>
        </div>
        <table id="branchTable" data-toggle="table"
                data-search="true"
               data-show-export="true"
              data-minimum-count-columns="2"               
               data-pagination="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-url="@Url.Action("listbranch", "companysetup")"            
               data-search-align="right"
               data-toolbar="#branch-toolbar"
               data-show-pagination-switch="true"
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
                data-detail-formatter="detailFormatter"
               data-detail-view="true"
               data-buttons-class="danger">
            <thead>
                <tr>
                    <th data-field="id" data-visible="false"></th>
                    <th data-field="brManager" data-sortable="true"><b>Manager</b></th>                    
                    <th data-field="brAddress"><b>Address</b></th>
              
                    <th data-field="" data-events="branchEvents" data-formatter="branchFormatter">  </th>
                </tr>
            </thead>
        </table>



    </div>

</div>
<div id="AddNewBranch" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">ADD NEW BRANCH </h7>
            </div>
            <div class="modal-body">
                <form asp-action="AddBranch" id="frmbranch">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#branch" aria-expanded="true" aria-controls="branch">
                                    Branch
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="branch" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input asp-for="Id" class="form-control" type="hidden" />
                                    </div>
                                 
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Company
                                            <select id="ddlCompany" name="ddlCompany" class="form-control" asp-for="CoyId" >
                                                <option>Select Company...</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            Branch Code
                                            <input asp-for="BrId" class="form-control" required />
                                            <span asp-validation-for="BrId" class="text-danger"></span>
                                        </div>
                                    </div>
                                        <div class="row">
                                        <div class="form-group col-md-12">
                                            Branch Address
                                            <input asp-for="BrAddress" class="form-control" required />
                                            <span asp-validation-for="BrAddress" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-6">
                                            Branch Location
                                            <input asp-for="BrLocation" class="form-control" required />
                                            <span asp-validation-for="BrLocation" class="text-danger"></span>
                                        </div>
                                        <div class="form-group  col-md-6">
                                            Branch State
                                            @Html.DropDownListFor(model => model.BrState, new SelectList(ViewBag.states,"Type","Type"),
                        "Select States", new { id = "ddlStates", @class = "form-control" })
                                            @*<input asp-for="BrState" class="form-control" required />*@
                                            <span asp-validation-for="BrState" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-6">
                                            Branch Manager
                                            <input asp-for="BrManager" class="form-control" required />
                                            <span asp-validation-for="BrManager" class="text-danger"></span>
                                        </div>
                                        <div class="form-group  col-md-6">
                                            Branch Name
                                            <input asp-for="BrName" class="form-control" required />
                                            <span asp-validation-for="BrName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="form-group text-right">
                                        <button class="btn btn-info" id="btnBranchUpdate" type="submit" value="Update Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Update Record
                                        </button>

                                        <button class="btn btn-info" id="btnBranch" type="submit" value="Save Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Save Record
                                        </button>

                                        <button class="btn btn-danger" type="reset">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                            Clear
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        
        </div>

    </div>
</div>

    

