﻿@model TheCoreBanking.Data.Models.TblDirectorInformation

<div class="card ">
    <div class="card-header ">
        <h4 class="card-title text-center"> <small class="description">Director</small></h4>
    </div>

    <div class="card-body">


        <div id="Director-toolbar">
            <div class="form-group text-right">
                <button class="btn btn-info" id="btnDirectors" data-toggle="modal" data-target="#AddNewDirector" type="button" value="Add Director">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    Add Director
                </button>
            </div>
        </div>
        <table id="DirectorTable" data-toggle="table"
                data-search="true"
               data-show-export="true"
              data-minimum-count-columns="2"               
               data-pagination="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-url="@Url.Action("listDirector", "companysetup")"          
               data-search-align="right"
               data-toolbar="#Director-toolbar"
               data-show-pagination-switch="true"
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               
              
               data-buttons-class="danger">
            <thead>
                <tr>
                    <th data-field="id" data-visible="false"></th>
                    <th data-field="fullName" data-sortable="true"><b>Name</b></th>
                    <th data-field="position"><b>Position</b></th>
                    <th data-field="percentageShare"><b>Percentage Share</b></th>
                    <th data-field="" data-events="DirectorEvents" data-formatter="DirectorFormatter">  </th>
                </tr>
            </thead>
        </table>



    </div>

</div>
<div id="AddNewDirector" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">ADD NEW Director </h7>
            </div>
            <div class="modal-body">
                <form asp-action="AddDirector" id="frmDirector">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Director" aria-expanded="true" aria-controls="Director">
                                    Director
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="Director" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input asp-for="Id" class="form-control" type="hidden" />
                                    </div>
                                 
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Company
                                            <select id="ddlDirCompany" name="ddlDirCompany" class="form-control" asp-for="CompanyId" >
                                                <option>Select Company...</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            Director BVN
                                            <input asp-for="Bvn" type="text" id="Bvn" class="form-control" required />
                                            <span asp-validation-for="Bvn" class="text-danger"></span>
                                        </div>
                                    </div>
                                        <div class="row">
                                        <div class="form-group col-md-12">
                                            Director Name
                                            <input asp-for="FullName" class="form-control" required />
                                            <span asp-validation-for="FullName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-6">
                                            Director Position
                                            <input asp-for="Position" class="form-control" required />
                                            <span asp-validation-for="Position" class="text-danger"></span>
                                        </div>
                                        <div class="form-group  col-md-6">
                                            Percentage Share
                                            <input asp-for="PercentageShare" class="form-control" required />
                                            <span asp-validation-for="PercentageShare" class="text-danger"></span>
                                        </div>
                                    </div>
                                  
                                    <hr />

                                    <div class="form-group text-right">
                                        <button class="btn btn-info" id="btnDirectorUpdate" type="submit" value="Update Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Update Record
                                        </button>

                                        <button class="btn btn-info" id="btnDirector" type="submit" value="Save Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Save Record
                                        </button>

                                        <button class="btn btn-danger" type="reset">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                            Clear
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        
        </div>

    </div>
</div>

    

