﻿@model TheCoreBanking.Data.Models.TblCurrency

<div class="card ">
    <div class="card-header ">
        <h4 class="card-title text-center"> <small class="description">Currency</small></h4>
    </div>
    <div class="card-body">
        <div id="currency-toolbar">
            <div class="form-group text-right">
                <button class="btn btn-info" id="btnCurrencys" data-toggle="modal" data-target="#AddNewCurrency" type="button" value="Add Currency">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    Add Currency
                </button>
            </div>
        </div>
        <table id="currencyTable" data-toggle="table"
               data-url="@Url.Action("listcurrency", "companysetup")"
               data-search="true"
               data-search-align="right"
               data-toolbar="#currency-toolbar"
               data-page-list="[5,10,25,50,100,150,200,250,300]"
               data-page-size="10" data-pagination="true"
               data-show-pagination-switch="true"
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-detail-formatter="detailFormatter"
               data-show-columns="true"
               data-buttons-class="danger">
            <thead>
                <tr>
                    <th data-field="id" data-visible="false"></th>
                    <th data-field="currCode" data-sortable="true"><b>Code</b></th>
                    <th data-field="currName"><b>Name</b></th>
                    <th data-field="currSymbol"><b>Symbol</b></th>
                    <th data-field="exchangeRate" data-align="right"><b>Rate</b></th>
                    <th data-field="countryCode"><b>Country</b></th>
                    <th data-field="averageRate"><b>Average Rate</b></th>
                    <th data-field="" data-events="currencyEvents" data-formatter="currencyFormatter"></th>
                </tr>
            </thead>
        </table>



    </div>

</div>
<div id="AddNewCurrency" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">ADD NEW CURRENCY </h7>
            </div>
            <div class="modal-body">
                <form asp-action="AddCurrency" id="frmCurrency">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#currency" aria-expanded="true" aria-controls="currency">
                                    Currency
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="currency" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input asp-for="Id" class="form-control" type="hidden" />
                                    </div>
                                    <div class="form-group">
                                        Currency Code
                                        <input asp-for="CurrCode" class="form-control" required />
                                        <span asp-validation-for="CurrCode" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Currency Name
                                            <input asp-for="CurrName" class="form-control" required />
                                            <span asp-validation-for="CurrName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            Currency Symbol
                                            <input asp-for="CurrSymbol" class="form-control" required />
                                            <span asp-validation-for="CurrSymbol" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-6">
                                            Exchange Rate
                                            <input asp-for="ExchangeRate" class="form-control" required />
                                            <span asp-validation-for="ExchangeRate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group  col-md-6">
                                            Country Code
                                            <input asp-for="CountryCode" class="form-control" required />
                                            <span asp-validation-for="CountryCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-6">
                                            Average Rate
                                            <input asp-for="AverageRate" class="form-control" required />
                                            <span asp-validation-for="AverageRate" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="form-group text-right">
                                        @*<button class="btn btn-danger" id="btnCurrencyUpdate" type="submit" value="Update Record">
                                                <i class="now-ui-icons ui-1_check"></i>
                                                Update Record
                                            </button>*@

                                        <button class="btn btn-info" id="btnCurrency" type="submit" value="Save Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Save Record
                                        </button>
                                        <button class="btn btn-danger" type="reset">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                            Clear
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                </form>

            </div>

        </div>

    </div>
</div>




<div id="UpdateNewCurrency" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">UPDATE CURRENCY </h7>
            </div>
            <div class="modal-body">
                <form id="frmCurrencyUpdate">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#currencyupdate" aria-expanded="true" aria-controls="currency">
                                    Currency
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="currencyupdate" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input id="Id1" class="form-control" type="hidden" />
                                    </div>
                                    <div class="form-group">
                                        Currency Code
                                        <input id="CurrCode1" class="form-control" required readonly />
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Currency Name
                                            <input id="CurrName1" class="form-control" required />
                                        </div>
                                        <div class="form-group col-md-6">
                                            Currency Symbol
                                            <input id="CurrSymbol1" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-6">
                                            Exchange Rate
                                            <input id="ExchangeRate1" class="form-control" required />
                                        </div>
                                        <div class="form-group  col-md-6">
                                            Country Code
                                            <input id="CountryCode1" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-6">
                                            Average Rate
                                            <input id="AverageRate1" class="form-control" required />
                                        </div>
                                    </div>


                                    <hr />

                                    <div class="form-group text-right">
                                        <button class="btn btn-info" id="btnCurrencysUpdate" type="submit" value="Update Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Update Currency
                                        </button>
                                        <button class="btn btn-danger" type="reset">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                            Clear
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                </form>

            </div>

        </div>

    </div>
</div>



@section Scripts {
    <environment include="Development">
        <script src="~/js/currency.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/currency.min.js"></script>
    </environment>
}




