﻿@model TheCoreBanking.Data.Models.TblCompanyInformation



<div class="card ">
    <div class="card-header ">
        <h4 class="card-title text-center"> <small class="description">Company Setup Details</small></h4>
    </div>

    <div class="card-body">
        <div id="custom-toolbar">
            <div class="form-group text-right">
                <button class="btn btn-info" id="btnAddCompanys" name="btnAddCompanys" data-toggle="modal" data-target="#AddNewCompany" type="button" value="Add Company">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    Add Company
                </button>
            </div>
        </div>
        <table id="companyTable" data-toggle="table"
               data-url="@Url.Action("listcompany", "companysetup")"
               data-search="true"
               data-show-export="true"
               data-minimum-count-columns="2"
               data-pagination="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-toolbar="#custom-toolbar"
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-detail-formatter="detailFormatter"
               data-detail-view="true"
               data-buttons-class="danger">
            <thead>
                <tr>
                    <th data-field="manager" data-sortable="true"><b>Manager</b></th>
                    <th data-field="coyName"><b>Company</b></th>
                    <th data-field="natureOfBusiness"><b>Business</b></th>
                    <th data-field="" data-events="companyEvents" data-formatter="companyFormatter">  </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="AddNewCompany" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="comp" name="comp"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title"> NEW COMPANY </h7>
            </div>
            <div class="modal-body">
                <form asp-action="AddCompany" id="frmcompany">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#companys" aria-expanded="true" aria-controls="companys">
                                    Company Basic Information
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="companys" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input asp-for="Id" class="form-control" type="hidden" />
                                        <input asp-for="CoyId" class="form-control" type="hidden" />
                                        <input asp-for="Deleted" class="form-control" type="hidden" />
                                    </div>
                                    @*<div class="form-group">
                                            <input asp-for="CoyId"  class="form-control" type="hidden" />
                                            <span asp-validation-for="CoyId" class="text-danger"></span>
                                        </div>*@
                                    <div class="row">
                                        <div class="form-group col-md-6 required">
                                            Company Name
                                            <input asp-for="CoyName" id="CoyName" data-bind="value: CoyName" required class="form-control" />
                                            <div class="invalid-feedback">
                                                Please provide company name.
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 required">
                                            Company Code
                                            <input asp-for="CoyCode" id="CoyCode" data-bind="value: CoyCode" required class="form-control" />
                                            <div class="invalid-feedback">
                                                Please provide company code.
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 required">
                                            Telephone
                                            <input asp-for="Telephone" id="Telephone" type="number" data-bind="value: Telephone" required class="form-control" />
                                            <div class="invalid-feedback">
                                                Please provide company phone number.
                                            </div>
                                            <span asp-validation-for="Fax" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6 required">
                                            Fax
                                            <input asp-for="Fax" id="Fax" data-bind="value: Fax" type="number" class="form-control" required />
                                            <div class="invalid-feedback">
                                                Please provide company fax.
                                            </div>
                                            <span asp-validation-for="Fax" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 required">
                                            Email
                                            <input asp-for="Email" id="Email" data-bind="value: Email" required type="email" class="form-control" />
                                            <div class="invalid-feedback">
                                                Please provide company email.
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 required">
                                            Date of Incorporation
                                            <div class='input-group date'>
                                                <input id="txtdate" name="txtdate" class="form-control datetimepicker" required autofocus />

                                                @*<div class="invalid-feedback">
                                                    Please provide Date of Incorporation.
                                                </div>*@
                                                @*<span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>*@                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 required">
                                            Website
                                            <input asp-for="Webbsite" id="Webbsite" type="url" data-bind="value: Webbsite" required class="form-control" />
                                            <div class="invalid-feedback">
                                                Please provide company website.
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 required">
                                            Address
                                            <input asp-for="Address" id="Address" data-bind="value: Address" required class="form-control" />
                                            <div class="invalid-feedback">
                                                Please provide company address.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a data-toggle="collapse" data-parent="#accordion" href="#otherinformation" aria-expanded="true" aria-controls="otherinformation">
                                    Other Information
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="otherinformation" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-6 required">
                                            Investment Objective
                                            <input asp-for="InvestmentObjective" id="InvestmentObjective" class="form-control" required />
                                            <div class="invalid-feedback">
                                                Please provide investment objective.
                                            </div>
                                        </div>                                                                    
                                        <div class="form-group required">
                                            Company Class
                                            <select class="form-control" name="ddlCompanyClass" id="ddlCompanyClass" style="width:340px; margin-left:15px" data-val="true" required>
                                                <option value="">Select Company Class</option>
                                                <option value="Current/Savings Receiving">Current/Savings Receiving</option>
                                                <option value="Non Current/Saving Receiving">Non Current/Saving Receiving</option>
                                            </select>
                                        </div>                                           
                                        
                                        @*<div class="form-group col-md-6 required">
            Company Class
            @Html.DropDownListFor(model => model.CoyClass, new SelectList(ViewBag.companyclass),
            "Select company class", new { id = "ddlCompanyClass", @class = "form-control" })
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 required">
                                            Company Type
                                            <select class="form-control" name="ddlCompanyType" id="ddlCompanyType" style="width:340px" data-val="true" required>
                                                <option value="">Select Company Type</option>
                                                <option value="Asset Management">Asset Management</option>
                                                <option value="Commercial Bank">Commercial Bank</option>
                                                <option value="Microfinance">Microfinance</option>
                                                <option value="Finance Company">Finance Company</option>
                                            </select>
                                            @*@Html.DropDownListFor(model => model.CompanyType, new SelectList(ViewBag.companytype),
        "Select company type", new { id = "ddlCompanyType", @class = "form-control" })*@
                                        </div>
                                        <div class="form-group col-md-6 required">
                                            Management Type
                                            <select class="form-control" name="ddlmgtType" id="ddlmgtType" style="width:340px" data-val="true" required>
                                                <option value="">Select Management Type</option>
                                                <option value="Absolute Line Mgt">Absolute Line Mgt</option>
                                                <option value="Dynamic Line Mgt">Dynamic Line Mgt</option>                                                
                                            </select>
                                            @*@Html.DropDownListFor(model => model.ManagementType, new SelectList(ViewBag.managementtype),
        "Select management type", new { id = "ddlmgtType", @class = "form-control" })*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 required">
                                            Manager
                                            <input asp-for="Manager" id="Manager" data-bind="value: Manager" class="form-control" required />
                                            <div class="invalid-feedback">
                                                Please provide company manager.
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 required">
                                            Nature of business
                                            <input asp-for="NatureOfBusiness" id="NatureOfBusiness" data-bind="value: NatureOfBusiness" required class="form-control" />
                                            <div class="invalid-feedback">
                                                Please provide nature of business.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 required">
                                            Name of Scheme
                                            <input asp-for="NameOfScheme" id="NameOfScheme" required data-bind="value: NameOfScheme" class="form-control" />
                                            <div class="invalid-feedback">
                                                Please provide name of scheme.
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 required">
                                            Registered Functions
                                            <input asp-for="FunctionsRegistered" id="FunctionsRegistered" data-bind="value: FunctionsRegistered" class="form-control" required />
                                            <div class="invalid-feedback">
                                                Please provide registered functions.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 required">
                                            Authorised Share Capital
                                            <input asp-for="AuthorisedShareCapital" type="number" id="AuthorisedShareCapital" data-bind="value: AuthorisedShareCapital" class="form-control" required />
                                            <div class="invalid-feedback">
                                                Please provide authorised share capital.
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 required">
                                            Name of Registrar
                                            <input asp-for="NameOfRegistrar" id="NameOfRegistrar" data-bind="value: NameOfRegistrar" class="form-control" required />
                                            <div class="invalid-feedback">
                                                Please provide name of registrar.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingFour">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#optionalinformation" aria-expanded="false" aria-controls="optionalinformation">
                                    Optional Information
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="optionalinformation" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Name of Trustees
                                            <input asp-for="NameOfTrustees" id="NameOfTrustees" data-bind="value: NameOfTrustees" class="form-control" />
                                            <div class="invalid-feedback">
                                                Please provide name of trustees.
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            Former Manager Trustees
                                            <input asp-for="FormerManagersTrustees" id="FormerManagersTrustees" data-bind="value: FormerManagersTrustees" class="form-control"/>
                                            <div class="invalid-feedback">
                                                Please provide former manager trustees.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Date of Renewal of Registration
                                            <div class='input-group date'>
                                                <input type='text' id='DateOfRenewalOfRegistration' class="form-control datetimepicker" placeholder="Date Of Renewal Registration" asp-for="DateOfRenewalOfRegistration" autofocus/>
                                                <span class="input-group-addon">
                                                    @*<span class="fa fa-calendar"></span>*@
                                                </span>
                                            </div>

                                        </div>
                                        <div class="form-group col-md-6">
                                            Date of Commencement
                                            <div class='input-group date'>
                                                <input type='text' id='DateOfCommencement' class="form-control datetimepicker" placeholder="Date Of Commencement" asp-for="DateOfCommencement" autofocus/>
                                                <span class="input-group-addon">
                                                    @*<span class="fa fa-calendar"></span>*@
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Initial Floatation
                                            <input asp-for="InitialFloatation" id="InitialFloatation" data-bind="value: InitialFloatation" class="form-control"/>
                                            <div class="invalid-feedback">
                                                Please provide former initial floatation.
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            Initial Subscription
                                            <input asp-for="InitialSubscription" id="InitialSubscription" data-bind="value: InitialSubscription" class="form-control"/>
                                            <div class="invalid-feedback">
                                                Please provide former initial subscription.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-md-6">
                                            Accounting Standard
                                            @Html.DropDownListFor(model => model.AccountStand, new SelectList(ViewBag.accountingstand),
"Select account standard", new { id = "ddlacctTStand", @class = "form-control" })

                                        </div>
                                        <div class="form-group col-md-6 required">
                                            End of Year Profit or Loss Ledger
                                            <input asp-for="EoyprofitAndLossGl" id="EoyprofitAndLossGl" data-bind="value: EoyprofitAndLossGl" class="form-control"/>
                                            <div class="invalid-feedback">
                                                Please provide  end of year profit or loss ledger.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="form-group text-right">
                        <button class="btn btn-info" id="btnCompanyUpdate" type="submit" value="Update Record">
                            <i class="now-ui-icons ui-1_check"></i>
                            Update Record
                        </button>

                        <button class="btn btn-info" id="btnCompany" type="submit" value="Save Record">
                            <i class="now-ui-icons ui-1_check"></i>
                            Save Record
                        </button>
                        <button class="btn btn-danger" type="reset" id="btnclear">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                            Clear
                        </button>
                    </div>


                </form>

            </div>

        </div>

    </div>
</div>







@section Scripts {
    <environment include="Development">
        <script src="~/js/modules/company.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/modules/company.min.js"></script>
    </environment>
}
