﻿
@{
    ViewData["Title"] = "General Setup";
}
@section title{
    @ViewData["Title"]
}

@section pagedescription{
    <h5> The system setup is happening here. </h5>

}

<div class="card ">

    <div class="card-header text-center">
        <h4 class="card-title">SYSTEM SETUP </h4>
    </div>

    <div class="card-body ">

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <!--
                    color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                -->
                <ul class="nav nav-pills nav-pills-danger nav-pills-icons flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#company" role="tablist">
                            <i class="now-ui-icons business_bank"></i>
                            Company
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#director" role="tablist">
                            <i class="now-ui-icons business_bank"></i>
                            Director
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#branch" role="tablist">
                            <i class="now-ui-icons business_briefcase-24"></i>
                            Branch
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#currency" role="tablist">
                            <i class="now-ui-icons business_money-coins"></i>
                            Currency
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="tab-content">

                    <div class="tab-pane active" id="company">
                        @Html.Partial("_AddCompany")
                    </div>
                    <div class="tab-pane" id="branch">
                        @Html.Partial("_AddBranch")
                    </div>

                    <div class="tab-pane" id="currency">
                        @Html.Partial("_AddCurrency")
                    </div>
                    <div class="tab-pane" id="director">
                        @Html.Partial("_AddDirector")
                    </div>
                </div>
            </div>
        </div>



    </div>



</div>

@section Scripts {
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>
    <script src="~/js/company.js"></script>

    <script src="~/js/currency.js"></script>
    <script src="~/js/branch.js"></script>
    <script src="~/js/director.js"></script>

}




