﻿@model TheCoreBanking.Data.Models.TblOperationApprovalCommittee




@section pagedescription{
    <span class="title f24px">GENERAL SET UP M0DULE</span>
}


@*<div class="card">

    <div class="card-body">
        <div class="card-header ">
            <h4 class="card-title text-center"> <small class="description">APPROVING AUTHORITY SET UP</small></h4>
        </div>


        <div id="custom-toolbar">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#CreateManagement" id="btnaddman" name="btnaddman"><i class="fas fa-plus"></i>Add Officer</button>
        </div>

        <table id="data-table" data-toggle="table" class="data-table"
               data-url="@Url.Action("listCommitMgt","AuthorityCommittee")"
               data-search="true"
               data-search-align="right"
               data-show-export="true"
               data-toolbar="#custom-toolbar"
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-click-to-select="true"
               data-single-select="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-detail-formatter="detailFormatter"
               data-unique-id="id"
               data-detail-view="true"
               data-check-on-init="true"
               data-pagination="true"
               data-buttons-class="danger">
            <thead>
                <tr>
                    <th data-field="operations" data-align="center">Operation</th>
                    <th data-field="approvingAuthority" data-align="center">Officer</th>
                    <th data-field="staffId" data-align="center" data-visible="true">Staff No</th>
                    <th data-field="department" data-align="center" data-visible="true">Department</th>
                    <th data-field="creditMinMgt" data-align="center">Min.Amount</th>
                    <th data-field="creditMaxComteeAmt" data-align="center" data-visible="true">Max.Amount</th>
                    <th data-field="cummulativeAmt" data-align="center" data-visible="true">Cul.Amount</th>
                    <th data-field="approvingLevel" data-align="center" data-visible="true">Approving Level</th>
                </tr>
            </thead>
        </table>



    </div>
</div>*@




<div class="card" id="customer-card">
        <div class="card-header text-center">
            <h4 class="card-title">APPROVING AUTHORITY SET UP</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="card card-plain">
                    <div class="card-body">

                        <div id="custom-toolbar">
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#CreateManagement" id="btnaddman" name="btnaddman"><i class="fas fa-plus"></i>Add Officer</button>
                        </div>


                        <table id="data-table"
                               data-unique-id="id"
                               class="data-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>





<div id="CreateManagement" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="btnclosemanage" name="btnclosemanage">&times;</button>
                <h7 class="modal-title">Add Officer</h7>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col card card-plain">
                            <form id="Create-Group">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        Operation:
                                        <select class="form-control text-right" name="ManOperation" required id="ManOperation">
                                            <option>Select Operation</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        Department:
                                        <select class="form-control text-right" name="Mandepartment" required id="Mandepartment">
                                            <option>Select Department</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        Approving Authority
                                        <select class="form-control text-right" name="Manauthority" required id="Manauthority">
                                            <option>Select Staff</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        Cummulative limit
                                        <input id="ManculLimit" name="ManculLimit" type="text" class="form-control text-right" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        Minimum Amount
                                        <input id="Manminamount" name="Manminamount" type="number" class="form-control text-right" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        Maximum Amount
                                        <input id="Manmaxamount" name="Manmaxamount" type="number" class="form-control text-right" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        Approving Level:
                                        <select class="form-control text-right" name="manapplevel" required id="manapplevel">
                                            <option>Select Approving level</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group text-right">
                                    <button class="btn btn-info" id="btnmanapp" type="submit" value="Save Record">
                                        <i class="now-ui-icons ui-1_check"></i>
                                        Save Record
                                    </button>
                                    <button class="btn btn-danger" type="button" id="btnclearmanage" onclick="clearM">
                                        <i class="fa fa-recycle"></i>
                                        Clear
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <environment include="Development">
        <script src="~/js/authoritycommittee.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/authoritycommittee.min.js"></script>
    </environment>
}




