﻿@model TheCoreBanking.Data.Models.TblOperationsLevel


<div class="card">
    <div class="card-header">
        <h4 class="card-title text-center"><small class="description">Operation Level</small></h4>
    </div>

    <div class="card-body">


        <div id="Operations-toolbar">
            <div class="form-group text-right">
                <button class="btn btn-danger" data-toggle="modal" data-target="#AddNewOperations" type="button" value="Add Operation" id="addclearoperation" name="addclearoperation">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    Add Operation Levels
                </button>

            </div>
        </div>

        <table id="operationTable" data-toggle="table"
               data-search="true"
               data-show-export="true"
               data-minimum-count-columns="2"
               data-pagination="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-url="@Url.Action("listOperatelevel","ApprovalOperation")"
               data-search-align="right"
               data-toolbar="#Operations-toolbar"
               data-show-pagination-switch="true"
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-unique-id="operationId"
               data-checkon-init="true"
               data-buttons-class="danger">
            <thead>
                <tr>
                    <th data-field="operationId" data-visible="false"></th>
                    <th data-field="operations" data-sortable="true"><b>Operation</b></th>
                    <th data-field="approvalLevels"><b>Levels</b></th>
                </tr>
            </thead>
        </table>

    </div>

</div>




<div id="AddNewOperations" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        Modal content
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="closeop" name="closeop">&times;</button>
                <h4 class="modal-title">ADD OPERATION</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col card card-plain">
                            <form asp-action="AddOperatelevel" id="frmoperation">
                                <div class="row mb-2 required">
                                    <label class="col-md-2 col-form-label">Operations</label>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" id="Operations" class="form-control" name="Operations" required />

                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2 required">
                                    <label class="col-md-2 col-form-label">Levels</label>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" id="approvalLevels" class="form-control" name="approvalLevels" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2 required">
                                    <div class="form-group col-md-6">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                Setup Status
                                                <input type="checkbox" id="status" name="status" value="SetupStatus" class="form-check-input">

                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="OperationId" name="OperationId" class="form-control" type="hidden" />
                                </div>

                                <hr />
                                <div class="form-group text-right">

                                    <button class="btn btn-info" id="btnOperation" type="submit" value="Save Record">
                                        <i class="now-ui-icons ui-1_check"></i>
                                        Save Record
                                    </button>

                                    <button class="btn btn-danger" type="button" id="btnclear" onclick="clear()">
                                        <i class="fa fa-recycle"></i>
                                        Clear
                                    </button>
                                </div>


                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>







@section Scripts {
    <environment include="Development">
        <script src="~/js/operationlevel.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/operationlevel.min.js"></script>
    </environment>
}

