﻿@model TheCoreBanking.Data.Models.TblBankingCommittee


<div class="card">
    <div class="card-header">
        <h4 class="card-title text-center"><small class="description">Credit Committee Approval Setup</small></h4>
    </div>
    <div class="card-body">
        <div id="committee-toolbar">
            <div class="form-group text-right">
                <button class="btn btn-danger pull-left" data-toggle="modal" data-target="#AddNewCommittee" type="button" value="Add Company" id="addclearcommittee" name="addclearcommittee">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    Add Committee
                </button>
            </div>
        </div>
        <table id="data-table" data-toggle="table"
               data-url="@Url.Action("listcommittee","ApprovalCommittee")"
               data-search="true"
               data-search-align="right"
               data-show-export="true"
               class="data-table"
               data-minimum-count-columns="2"
               data-pagination="true"
               data-show-pagination-switch="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-mobile-responsive="true"
               data-toolbar="#committee-toolbar"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-detail-view="true"
               data-unique-id="Id"
               data-checkon-init="true"
               data-buttons-class="danger">
            <thead>
                <tr>
                    <th data-field="Id" data-visible="false"></th>
                    <th data-field="mgtNo"><b>Management No</b></th>
                    <th data-field="mgtNoApproval"><b>Mgt Approval No</b></th>
                    <th data-field="boardNo"><b>Board No</b></th>
                    <th data-field="boardNoApproval"><b>B Approval No</b></th>
                </tr>
            </thead>
        </table>
    </div>
</div>





<div id="AddNewCommittee" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="closecommittee" name="closecommittee">&times;</button>
                <h7 class="modal-title">NEW COMMITTEE APPROVAL SETUP </h7>
            </div>
            <div class="modal-body">
                <form id="frmcommittee">
                    <div class="card card-plain">
                        <div class="card-header">
                            <h4 class="modal-title"> Management Committee</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    Number of Persons:
                                    <input id="MgtNo" class="form-control" />
                                </div>
                                <div class="form-group col-md-6">
                                    Number of Person for Final Approval Decision:
                                    <input id="MgtNoApproval" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    Minimum Amount
                                    <input id="CreditMinMgt" type="number" class="form-control text-right" />
                                </div>
                                <div class="form-group col-md-6">
                                    Maximum Amount
                                    <input id="CreditMaxComteeAmt" type="number" class="form-control text-right" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    Operation
                                    <select id="OperationM" name="OperationM" class="form-control text-right">
                                        <option>Select Operation</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2 required">
                                <div class="form-group col-md-6">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <b>ADD BOARD COMMITTEE</b>
                                            <input type="checkbox" id="clicked" name="clicked" value="boardCommit" class="form-check-input">
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="bcc" style="display:none">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        Number of Persons:
                                        <input id="BoardNo" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        Number of Persons for Approval Decision:
                                        <input id="BoardNoApproval" required class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        Minimum Amount
                                        <input id="CreditMinBoard" class="form-control text-right" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        Maximum Amount
                                        <input id="CreditMaxBoardAmt" class="form-control text-right" />
                                    </div>
                                </div>
                                <div class="form-group text-right">
                                    <button class="btn btn-info" id="btnCommit" type="submit" value="Save Record">
                                        <i class="now-ui-icons ui-1_check"></i>
                                        Save Record
                                    </button>
                                    <button class="btn btn-danger" id="btnclear" type="button" onclick="clear()">
                                        <i class="fa fa-remove"></i>
                                        Clear
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <environment include="Development">
        <script src="~/js/committee.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/committee.min.js"></script>
    </environment>
}

