﻿@model TheCoreBanking.Data.Models.GeneralSetupTblOperationComment
<style>
    .modal-body {
        height: 300px !important;
        width: 500px !important;
    }
</style>

@*style="width:350px;height:0px"*@
@*style="width:400px;height:0px"*@

<div class="card" id="customer-card">
    <div class="card-header text-center">
        <h4 class="card-title">NARRATION SETUP SETUP</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card card-plain">
                <div class="card-body">
                    <div id="custom-toolbar">
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#btnNarrationModal" id="btnarrate" name="btnarrate"><i class="fas fa-plus"></i>Create Narration</button>

                    </div>
                    <table id="data-table"
                           data-unique-id="id"
                           class="data-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Modal -->
<div id="btnNarrationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="btnsetup" name="btnsetup">&times;</button>
                <h4 class="modal-title">Create Narration</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col card card-plain">
                            <form id="Operation-comment-form">
                                <div class="row mb-2 required">
                                    <label class="col-md-5 col-form-label">Comment</label>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <textarea id="comment" class="form-control" rows="5" name="comment" placeholder="Enter your Comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                @*<div>
                                        <input type="hidden" id="custId" name="custId" />
                                    </div>*@
                                <div class="row mt-4 justify-content-between">
                                    <div class="col">
                                        <button class="btn btn-info btn-wd pull-left" id="txtsubmit" type="button">
                                            <i class="fas fa-plus"></i>Save
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-left" type="button" id="btnclear" onclick="clear()">
                                            <i class="fas fa-times"></i>Clear
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





<div id="editOpCom" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col card card-plain">
                            <form id="Edit-OpCom-form">
                                <div class="row mb-2 required">
                                    <label class="col-md-5 col-form-label">Comment</label>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <textarea id="commentedit" class="form-control" rows="5" name="commentedit" placeholder="Enter your Comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <input type="hidden" id="callId" name="callId" />
                                </div>
                                <div class="row mt-4 justify-content-between">
                                    <div class="col">
                                        <button class="btn btn-warning btn-wd" id="btnedit"
                                                type="button">
                                            Edit
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="deleteOpCom" class="modal fade" role="dialog">
    <div class="modal-dialog">

         Modal content
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col card card-plain">
                            <form id="Delete-OpCom-form">
                                <div class="row mb-2 required">
                                    <label class="col-md-5 col-form-label">Comment</label>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <textarea id="commentdelete" class="form-control" rows="5" name="commentdelete" placeholder="Enter your Comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <input type="hidden" id="deleteid" name="deleteid" />
                                </div>

                                <div class="row mt-4 justify-content-between">
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-left" id="btndelete"
                                                type="button">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
  
        <script src="~/js/narrationsetup.js"></script>

   
}

