﻿@section pagedescription{
    <span class="title f24px">GENERAL SETUP M0DULE</span>
}


<div class="card" id="operation-card">
    <div class="card-header text-center">
        <h4 class="card-title">CREATE COMMENT</h4>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col card card-plain">
                    <form id="Operation-comment-form">
                        <div class="row mb-2 required">
                            <label class="col-md-5 col-form-label">Comment</label>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <textarea id="comment" class="form-control" rows="5" name="comment" placeholder="Enter your Comment"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 justify-content-between">
                            <div class="col">
                                <button class="btn btn-danger btn-wd pull-left" type="button"
                                        data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-danger btn-wd pull-left" id="txtsubmit"
                                        type="button">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="card" id="customer-card">
    <div class="card-header text-center">
        <h4 class="card-title">OPERATION COMMENT</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card card-plain">
                <div class="card-body">
                    <table id="data-table"
                           data-unique-id="id"
                           class="data-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="editOpCom" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col card card-plain">
                            <form id="Edit-OpCom-form">
                                <div class="row mb-2 required">
                                    <label class="col-md-5 col-form-label">Comment</label>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <textarea id="commentedit" class="form-control" rows="5" name="commentedit" placeholder="Enter your Comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <input type="hidden" id="callId" name="callId" />
                                </div>
                                <div class="row mt-4 justify-content-between">
                                    <div class="col">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-warning btn-wd pull-right" id="btnedit"
                                                type="button">
                                            Edit
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="deleteOpCom" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col card card-plain">
                            <form id="Delete-OpCom-form">
                                <div class="row mb-2 required">
                                    <label class="col-md-5 col-form-label">Comment</label>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <textarea id="commentdelete" class="form-control" rows="5" name="commentdelete" placeholder="Enter your Comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <input type="hidden" id="deleteid" name="deleteid" />
                                </div>

                                <div class="row mt-4 justify-content-between">
                                    <div class="col">
                                        <button class="btn btn-warning btn-wd pull-right" id="btndelete"
                                                type="button">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <environment include="Development">
        <script src="~/js/operationcomment.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/operationcomment.min.js"></script>
    </environment>
}

