﻿
@model TheCoreBanking.Data.Models.TblUnit

<div class="card ">
    <div class="card-header ">
        <h4 class="card-title text-center"> <small class="description">Unit</small></h4>
    </div>

    <div class="card-body">


        <div id="unit-toolbar">
            <div class="form-group text-right">
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Unit
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" data-toggle="modal" data-target="#AddNewUnit"> Create Unit</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#MapUnitDepartment">Map Unit</a>
                    </div>
                </div>
                @*<button class="btn btn-danger" id="btnUnits" data-toggle="modal" data-target="#AddNewUnit" type="button" value="Add Unit">
            <i class="now-ui-icons ui-1_simple-add"></i>
            Add Unit
        </button>*@
            </div>
        </div>
        <table id="unitTable" data-toggle="table"
               data-url="@Url.Action("listunit", "customersetup")"  
               data-search="true"
               data-search-align="right"
               data-toolbar="#unit-toolbar"
     
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
                data-detail-formatter="detailFormatter"
                data-pagination="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-buttons-class="danger">
            <thead>
                <tr>
                    <th data-field="id" data-visible="false"></th>
                    <th data-field="unitName" data-sortable="true"><b>UnitName</b></th>
                    <th data-field="unitCode"><b>UnitCode</b></th>
                    <th data-field="remark"><b>Remark</b></th>               
                    <th data-field="" data-events="unitEvents" data-formatter="unitFormatter">  </th>
                </tr>
            </thead>
        </table>



    </div>

</div>
<div id="AddNewUnit" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">ADD NEW UNIT </h7>
            </div>
            <div class="modal-body">
                <form asp-action="AddUnit" id="frmunit">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#unit" aria-expanded="true" aria-controls="unit">
                                    Unit
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="unit" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input asp-for="Id" class="form-control" type="hidden" />
                                    </div>
                                    <div class="form-group">
                                        Unit Name
                                        <input asp-for="UnitName" required class="form-control" />
                                        <span asp-validation-for="UnitName" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Unit Code
                                            <input asp-for="UnitCode" required class="form-control" />
                                            <span asp-validation-for="UnitCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group  col-md-6">
                                            Remark
                                            <input asp-for="Remark" required class="form-control" />
                                            <span asp-validation-for="Remark" class="text-danger"></span>
                                        </div>
                                       
                                    </div>
                                   
                          
                                    <hr />

                                    <div class="form-group text-right">
                                        <button class="btn btn-info" id="btnUnitUpdate" type="submit" value="Update Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Update Record
                                        </button>

                                        <button class="btn btn-info" id="btnUnit" type="submit" value="Save Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Save Record
                                        </button>

                                        <button class="btn btn-danger" type="reset">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                            Clear
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>
<div id="MapUnitDepartment" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">MAP UNIT TO DEPARTMENT </h7>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-info col-md-12" id="btnMapUnit" type="button" value="Map Unit">
                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                            Map unit to department
                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <table id="unitAssignTable" data-toggle="table"
                               data-url="@Url.Action("listunit", "customersetup")"  
                               data-page-list="[5,10,25,50,100,150,200,250,300]"
                               data-page-size="10"
                               data-check-on-init="true"
                               data-pagination="true"
                               data-search="true"
                               data-classes="table table-no-bordered"
                               data-mobile-responsive="true"
                               data-show-refresh="true"
                                   data-click-to-select="true"
                                   data-single-select="true"
                               data-buttons-class="danger">
                            <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true"></th>
                                    @*<th data-field="id" data-sortable="true">Code</th>*@
                                    <th data-field="unitName" data-sortable="true"><b>List of Unit</b></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table id="deptAssignTable" data-toggle="table"
                               data-url="@Url.Action("listdepartment", "customersetup")" 
                               data-page-list="[5,10,25,50,100,150,200,250,300]"
                               data-page-size="10"
                               data-check-on-init="true"
                               data-pagination="true"
                               data-search="true"
                               data-classes="table table-no-bordered"
                               data-mobile-responsive="true"
                                   data-click-to-select="true"
                                   data-single-select="true"
                               data-show-refresh="true"
                             
                               data-buttons-class="danger">
                            <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true"></th>
                                    @*<th data-field="id" data-sortable="true">Code</th>*@
                                    <th data-field="department" data-sortable="true"><b>List of Departments</b></th>
                                </tr>
                            </thead>
                        </table>
                    </div>



                    <div class="col-md-12">

                        <button class="btn btn-info col-md-12" id="btnMapDepartment" type="button" value="Map Department">
                            <i class="now-ui-icons arrows-1_minimal-right"></i>

                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                        </button>
                    </div>

                </div>


            </div>

        </div>

    </div>
</div>

