﻿
@model TheCoreBanking.Data.Models.TblMisinformation

<div class="card ">
    <div class="card-header ">
        <h4 class="card-title text-center"> <small class="description">MIS Information</small></h4>
    </div>

    <div class="card-body">


        <div id="mis-toolbar">
            <div class="form-group text-right">
                <button class="btn btn-info" id="btnMI" data-toggle="modal" data-target="#AddNewMIS" type="button" value="Add MIS">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    Add MIS
                </button>
            </div>
        </div>
        <table id="misTable" data-toggle="table"
               data-url="@Url.Action("listmis", "customersetup")" 
               data-search="true"
               data-search-align="right"
               data-toolbar="#mis-toolbar"
               
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-detail-formatter="detailFormatter"
               data-pagination="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-buttons-class="danger">
            <thead>
                <tr>
                    
                  
                    <th data-field="id" data-visible="false"></th>
                    <th data-field="misCode" data-sortable="true"><b>Code</b></th>
                    <th data-field="misName"><b>Name</b></th>

                    @*<th data-field="companyCode">Company Code</th>
        <th data-field="deleted">Deleted</th>
        <th data-field="DateCreated" data-formatter="dateFormatter">Date Created</th>*@
                    <th data-field="" data-events="misEvents" data-formatter="misFormatter">  </th>
                </tr>
            </thead>
        </table>



    </div>

</div>
<div id="AddNewMIS" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">ADD NEW MIS </h7>
            </div>
            <div class="modal-body">
                <form asp-action="AddMIS" id="frmMIS">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse" >
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#mis" aria-expanded="true" aria-controls="mis">
                                    MIS
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="mis" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input asp-for="Id" class="form-control" type="hidden" />
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            MIS Code
                                            <input asp-for="MisCode" class="form-control" required />
                                            <span asp-validation-for="MisCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            MIS Type
                                            @Html.DropDownListFor(model => model.MisTypeId, new SelectList(ViewBag.misType),
                        "Select MIS type", new { id = "ddlMisType", @class = "form-control" })
                                            <span asp-validation-for="MisTypeId" class="text-danger"></span>

                                        </div>
                                    </div>
                                 
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            MIS Name
                                            <input asp-for="MisName" class="form-control" required />
                                            <span asp-validation-for="MisName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group  col-md-6">
                                            Company
                                            <select id="ddlCompany" name="ddlCompany" class="form-control" >
                                                <option>Select Company...</option>
                                            </select>

                                        </div>
                                       
                                    </div>
                    
                          
                                    <hr />

                                    <div class="form-group text-right">
                                        <button class="btn btn-info" id="btnMISUpdate" type="submit" value="Update Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Update Record
                                        </button>

                                        <button class="btn btn-info" id="btnMIS" type="submit" value="Save Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Save Record
                                        </button>

                                        <button class="btn btn-danger" type="reset">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                            Clear
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </form>








            </div>

        </div>

    </div>
</div>


