﻿
@model TheCoreBanking.Data.Models.TblRank

<div class="card ">
    <div class="card-header ">
        <h4 class="card-title text-center"> <small class="description">Rank Information</small></h4>
    </div>

    <div class="card-body">


        <div id="rank-toolbar">
            <div class="form-group text-right">
                <button class="btn btn-info"  data-toggle="modal" data-target="#AddNewRank" type="button" value="Add Rank">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    Add Rank
                </button>
            </div>
        </div>
        <table id="rankTable" data-toggle="table"
               data-url="@Url.Action("listrank", "customersetup")" 
               data-search="true"
               data-search-align="right"
               data-toolbar="#rank-toolbar"
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-detail-formatter="detailFormatter"
               data-pagination="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-buttons-class="danger">
            <thead>
                <tr>
                    <th data-field="id" data-visible="false"></th>
                    <th data-field="rank" data-sortable="true"><b>Rank</b></th>            
                    <th data-field="" data-events="rankEvents" data-formatter="rankFormatter">  </th>
                </tr>
            </thead>
        </table>



    </div>

</div>
<div id="AddNewRank" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">ADD NEW RANK </h7>
            </div>
            <div class="modal-body">
                <form asp-action="AddRank" id="frmRank">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#rank" aria-expanded="true" aria-controls="rank">
                                    RANK
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="rank" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input asp-for="Id" class="form-control" type="hidden" />
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            Rank
                                            <input id="Ranks" asp-for="Rank" class="form-control" required />
                                            <span asp-validation-for="Rank" class="text-danger"></span>
                                        </div>
                            
                                    </div>

                                    <hr />

                                    <div class="form-group text-right">
                                        <button class="btn btn-info" id="btnRankUpdate" type="submit" value="Update Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Update Record
                                        </button>

                                        <button class="btn btn-info" id="btnRank" type="submit" value="Save Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Save Record
                                        </button>

                                        <button class="btn btn-danger" type="reset">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                            Clear
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>


