﻿@model TheCoreBanking.Data.Models.TblDepartment

<div class="card ">
    <div class="card-header ">
        <h4 class="card-title text-center"> <small class="description">Department</small></h4>
    </div>

    <div class="card-body">
        <div id="department-toolbar">
            <div class="form-group text-right">
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Department
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" data-toggle="modal" data-target="#AddNewDepartment"> Create Department</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#MapBranchDepartment">Map Department</a>
                    </div>             
                </div>
            </div>
        </div>
        <table id="departmentTable" data-toggle="table"
               data-url="@Url.Action("listdepartment", "customersetup")" 
               data-search-align="right"
               data-toolbar="#department-toolbar"
           
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
                data-detail-formatter="detailFormatter"
                data-pagination="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-buttons-class="danger">
            <thead>
                <tr>
                    <th data-field="deptCode"><b>Dept Code</b></th>
                    <th data-field="department" data-sortable="true"><b>Department</b></th>
                    <th data-field="remark"><b>Remark</b></th>

                    <th data-field="" data-events="departmentEvents" data-formatter="departmentFormatter">  </th>
                </tr>
            </thead>
        </table>
    </div>

</div>
<div id="AddNewDepartment" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">ADD NEW DEPARTMENT </h7>
            </div>
            <div class="modal-body">
                <form asp-action="AddDepartment" id="frmdepartment">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#department" aria-expanded="true" aria-controls="department">
                                    Department
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="department" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">

                                        <input asp-for="Id" class="form-control" type="hidden" />
                                        <input asp-for="CoyId" class="form-control" type="hidden" />
                                    </div>

                                    <div class="row">

                                   <div class="form-group col-md-12">
                                            Department
                                            <input asp-for="Department" class="form-control" required />
                                            <span asp-validation-for="Department" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-6">
                                            Department Code
                                            <input asp-for="DeptCode" class="form-control" required />
                                            <span asp-validation-for="DeptCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group  col-md-6">
                                            Remark
                                            <input asp-for="Remark" id="Remarks" class="form-control" required />
                                            <span asp-validation-for="Remark" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group text-right">
                                        <button class="btn btn-info" id="btnDepartmentUpdate" type="submit" value="Update Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Update Record
                                        </button>
                                        <button class="btn btn-info" id="btnDepartment" type="submit" value="Save Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Save Record
                                        </button>

                                        <button class="btn btn-danger" type="reset">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                            Clear
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        
        </div>

    </div>
</div>

<div id="MapBranchDepartment" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">MAP DEPARTMENT TO BRANCH </h7>
            </div>
            <div class="modal-body">
               
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-info col-md-12" id="btnMapDepartments" type="button" value="Map Department">
                                <i class="now-ui-icons arrows-1_minimal-right"></i>
                                Map department to branch
                                <i class="now-ui-icons arrows-1_minimal-right"></i>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <table id="departmentAssignTable" data-toggle="table"
                                   data-url="@Url.Action("listdepartment", "customersetup")"
                                   data-page-list="[5,10,25,50,100,150,200,250,300]"
                                   data-page-size="10"
                                   data-check-on-init="true"
                                   data-pagination="true"
                                   data-search="true"
                                   data-classes="table table-no-bordered"
                                   data-mobile-responsive="true"
                                   data-show-refresh="true"
                                   data-click-to-select="true"
                                   data-single-select="true"
                                   data-buttons-class="danger">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        @*<th data-field="id" data-sortable="true">Code</th>*@
                                        <th data-field="department" data-sortable="true"><b>Department</b></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table id="BranchAssignTable" data-toggle="table"
                                   data-url="@Url.Action("listbranch", "customersetup")"
                                   data-page-list="[5,10,25,50,100,150,200,250,300]"
                                   data-page-size="10"
                                   data-check-on-init="true"
                                   data-pagination="true"
                                   data-search="true"
                                   data-classes="table table-no-bordered"
                                   data-mobile-responsive="true"
                                   data-show-refresh="true" 
                                   data-click-to-select="true" 
                                   data-single-select="true"
                                   data-buttons-class="danger">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        @*<th data-field="id" data-sortable="true">Code</th>*@
                                        <th data-field="brName" data-sortable="true"><b>List of Branches</b></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>



                        <div class="col-md-12">

                            <button class="btn btn-info col-md-12" id="btnMapDepartment" type="button" value="Map Department">
                                <i class="now-ui-icons arrows-1_minimal-right"></i>

                                <i class="now-ui-icons arrows-1_minimal-right"></i>
                            </button>
                        </div>

                    </div>

            
            </div>

        </div>

    </div>
</div>

