﻿@model TheCoreBanking.Data.Models.TblDesignation

<div class="card ">
    <div class="card-header ">
        <h4 class="card-title text-center"> <small class="description">Designation</small></h4>
    </div>

    <div class="card-body">


        <div id="designation-toolbar">
            <div class="form-group text-right">
                <button class="btn btn-info" id="btnDesignations" data-toggle="modal" data-target="#AddNewDesignation" type="button" value="Add Designation">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    Add Designation
                </button>
            </div>
        </div>
        <table id="designationTable" data-toggle="table"
               data-url="@Url.Action("listdesignation", "customersetup")" 
               data-search="true"
               data-search-align="right"
               data-toolbar="#designation-toolbar"
       
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
                 data-detail-formatter="detailFormatter"
               data-pagination="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-buttons-class="danger">
            <thead>
                <tr>
                    @*<th data-field="id" data-sortable="false"></th>*@
                    <th data-field="designation" data-sortable="true"><b>Designation</b></th>                    
                    <th data-field="" data-events="designationEvents" data-formatter="designationFormatter">  </th>
                </tr>
            </thead>
        </table>
    </div>

</div>
<div id="AddNewDesignation" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">ADD NEW DESIGNATION </h7>
            </div>
            <div class="modal-body">
                <form asp-action="AddDesignation" id="frmdesignation">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#designation" aria-expanded="true" aria-controls="designation">
                                    Designation
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="designation" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input asp-for="Id" class="form-control" type="hidden" />
                                    </div>
                                    <div class="row">
                                    <div class="form-group col-md-6">
                                        Designation
                                        <input asp-for="Designation" required class="form-control" />
                                        <span asp-validation-for="Designation" class="text-danger"></span>
                                    </div>
                                    <div class="form-group  col-md-6">
                                        Designation Code
                                        <input asp-for="DesignationCode" required class="form-control" />
                                        <span asp-validation-for="DesignationCode" class="text-danger"></span>
                                    </div>
                                    </div>
                                    <hr />

                                    <div class="form-group text-right">
                                        <button class="btn btn-info" id="btnDesignationUpdate" type="submit" value="Update Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Update Record
                                        </button>

                                        <button class="btn btn-info" id="btnDesignation" type="submit" value="Save Record">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Save Record
                                        </button>
                                        <button class="btn btn-danger" type="reset">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            Clear
                                        </button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>

